<% if user == current_user %>
  <div class="pull-right spaced">
    <%= link_to t('new_todo_list'), new_user_list_path(user), :class => "btn btn-mini btn-success" %>
  </div>
  <br style="clear: both;"/> <hr/>
<% end %>

<% if lists.empty? %>
  <%= bootstrap_alert('', t('no_lists_yet'), Const::ALERT_INFO) %>
<% else %>
  <% lists.each do |list| %>
    <div id="list_<%= list.id %>">
      <%= render :partial => 'list_sample', :locals => {:user => user, :list => list} %>
    </div>
  <% end %>
<% end %>


