<h3><%= t('user_name_todo_lists', :user_name => @user_viewed.name)  %></h3>


<% content_for :sidebar do %>
  <%= render :partial => 'shared/users_navlist', :locals => {:users => @other_users, :user_viewed => @user_viewed} %>
<% end %>