
<%= link_to "<i class='icon-remove'></i>&nbsp;#{t('sign_out')}".html_safe, destroy_user_session_path(), {:class => "btn btn-small btn-danger pull-right spaced", :method => :delete} %>
<%= link_to "<i class='icon-user'></i>&nbsp;#{t('account')}".html_safe, edit_user_registration_path(), :class => "btn btn-small pull-right spaced" %>


<h3>
  It works!
</h3>

